@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div>
	@Model.Message
</div>
<form method="post">
	<div class="form-group">
		<label asp-for="UserName" class="col-form-label col-md-2"></label>
		<div class="col-md-10">
			<input asp-for="UserName" />
		</div>
	</div>
	<div class="form-group">
		<label asp-for="Password" class="col-form-label col-md-2"></label>
		<div class="col-md-10">
			<input asp-for="Password" />
		</div>
	</div>
	<div class="form-group">
		<button class="btn btn-outline-primary btn-sm">Log in</button>
	</div>
</form>